:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  --cyan-ocean: #00bfe9;
  --blue-ocean: #00217f;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
  /* Auto Colors */
  --beau-blue: #c8d8e4ff;
  --honeydew: #e1eeddff;
  --lapis-lazuli: #336699ff;
  --charcoal: #2f4858ff;
  --international-orange-aerospace: #fe5d26ff;
  --amazon: #4a7c59ff;
  --copper: #a8763eff;
  --bdazzled-blue: #1857a4ff;
  --byzantium: #7a3b69ff;
  /* Custom Text Colors */
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Arial';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 13px;
}

nav ul, footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.google-apps-icon-container {
  display: grid;
  grid-template-columns: 7px 7px 7px;
  grid-template-rows: 7px 7px 7px;
}

.google-apps-icon {
  width: 5px;
  height: 5px;
  background-color: #737373
}

nav ul li {
  font-size: .9rem;
  list-style: none;
  padding: 0;
  margin: 15px 12px 15px;
}

a {
  color: #404040;
  text-decoration: none;
}

.profile-picture {
  height: 35px;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30vh;
}

.google-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  display: flex;
  justify-content: center;
  border: 1px #DEE1E5 solid;
  border-radius: 40px;
  height: 50px;
  width: 80%;
  margin: 20px 0 30px;
}

.search-box:hover {
  box-shadow: 2px 2px 5px #EAEBEE;
}

.search-box input {
  width: 80%;
  margin: 0 15px 0 15px;
  border: white;
}

.search-icon {
  width: 4%;
}

.microphone-icon {
  width: 4%;
}

.search-buttons {
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  border-radius: 5px;
  color: #5F6267;
  font-size: .9rem;
  background-color: #F3F3F3;
  padding: 10px 15px;
  margin: 0 10px;
}

footer {
  background-color: #F2F2F2;
  width: 100%;
  align-self: flex-end;
  padding: 0px;
}

footer ul {
  margin-left: 20px;
  margin-right: 20px;
}

footer li {
  font-size: .95rem;
  list-style: none;
  color: #6A6D71;
  padding: 0;
  margin: 15px 15px 15px;
}